body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding: 2%;
}
.first-section img{
    width: 100%;
}
.first-section h1{
    font-weight: 700;
    font-size: 40px;
}
.first-section p{
    margin-bottom: 50px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;

}
.second-section img{
    width: 100%;
}
.download{
    background-image: url(images/download.png);
    background-position: left;
    width: 100%;
    background-repeat: no-repeat;

}
section{
    float: left;
}
.project-section{
    background-color: #F8F9FC;
    width: 100%;
    height: 700px;
}
.project-section h1{
    text-align: center;
    font-weight: 700;
}
.project-box{
     box-shadow: 10px 20px 40px gray;
     border-radius: 5px;
     float: left;
     width: 28%;
     margin: 40px 20px;
     height: 450px;
     padding: 10px;
}
.project-box img{
    width: 100%;
}
.exprience-area{
    height: 480px;
}
.exprience-area h1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.exprience-box{
    height: 200px;
    
}
.exprience-box p{
    padding: 10px;
}
#web-dev-gradiant{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#web-app-gradiant{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
#product-gradiant{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, yellow,tomato);
    border-image-slice: 1;
}
.inquery-section img{
    width: 60%;
}
.inquery-section{
    text-align: center;
    position: relative;
}
.inquery-text{
    position: absolute;
    top: 46px;
    left: 339px;
    color: white;
    font-size: 20px;
}
.chatbtn{
    position: absolute;
    top: 86px;
    right: 330px;
}